svg {
 background-color: #FFF;
 cursor: default;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -o-user-select: none;
 user-select: none;
}

 svg:not(.active):not(.ctrl) {
     cursor: crosshair;
 }

path.link {
 fill: none;
 stroke: #888;
 stroke-width: 3px;
 cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
 cursor: pointer;
}

path.link.selected {
 stroke-dasharray: 10,2;
}

path.link.dragline {
 pointer-events: none;
}

path.link.hidden {
 stroke-width: 0;
}

rect.node {
 stroke-width: 4px;
 cursor: pointer;
 fill: #fff;
}

circle.close {
    stroke-width: 4px;
    cursor: pointer;
    fill: rgb(255, 4, 4);
   }

.node {
 stroke-width: 4px;
 cursor: pointer;
 fill: #fff;
}

.close{
    stroke-width: 4px;
    cursor: pointer;
    fill: rgb(250, 4, 4);
}

text {
 font: 14px sans-serif;
 pointer-events: none;
}

 text.text {
     text-anchor: middle;
     font-weight: bold;
 }

#my_dataviz{
    background-color: #888;
}

.context-menu {
  position: absolute;
  display: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  min-width: 150px;
  border: 1px solid #d4d4d4;
  z-index: 1200;
}

.context-menu ul {
  list-style-type: none;
  margin: 4px 0px;
  padding: 0px;
  cursor: default;
}

.context-menu ul li {
  padding: 4px 16px;
}

.context-menu ul li:hover {
  background-color: #4677f8;
  color: #fefefe;
}

.context-input {
  position: absolute;
  display: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  min-width: 150px;
  border: 1px solid #d4d4d4;
  z-index: 1200;
}

.inicio {
  fill: none;
  stroke: rgb(30, 160, 30);
  stroke-width: 3px;
  cursor: default;
}